body {
  font-family: 'Times New Roman', Times, serif;
}
.jumbotron {
  background-size: cover;
  margin-top: 0em;
  padding-bottom: 3em;
  padding-top: 2em;
  background-color: #bde4f4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.17);
}

.jumbotron h1 {
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
}

.jumbotron p {
  font-family:'Times New Roman', Times, serif;
}
.container {
  background-color: #f5feff;
}

.row h1 {
  font-family:'Times New Roman', Times, serif;
}

.row-radio1 {
  margin: 10px;
  padding: 40px;
  padding-bottom: 90px;
}
.row-radio2 {
  margin: 0 10px;
  padding: 40px;
  padding-bottom: 70px;
}
.row-radio3 {
  margin: 0 10px;
  padding: 40px;
  padding-bottom: 70px;
}
.row-button {
  margin: 20px;
  margin-top: 10px;
  padding: 20px;
  padding-bottom: 100px;
}
.card {
  background-color: #bde4f4;
  padding: 200px;
  margin: 20px;
  padding: 50px;
  padding-bottom: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.17);
}

#hide {
  display: none;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 5px;
 
}
#coding-love {
  display: none;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px; 
}
#coding-hate {
  display: none;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px; 
}
.footer {
  padding: 2em;
}